@import "tailwindcss";

:root {
  --background: #281e32;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cormorant-garamond: var(--font-cormorant-garamond);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cormorant-garamond), serif;
}

h1 {
  color: #f9b731;
}

em {
  font-style: italic;
  font-variant: normal;
}

.bio-content,
.bio-content p {
  text-wrap: wrap !important;
}
